<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
              <h2>Novo Investidor</h2>
            </div>
            <div class="card-body">
              <form method="POST" action="/investidor/save">
                  <div class="input--with-addon currency-input">
                <label>Nome </label>
                <div class="input__container text-input">
                <input
                  class="form-control"
                  type="text"
                  name="name"
                  placeholder=""
                  required />
                  </div>
                  </div>
                <br />
                <div class="input--with-addon currency-input">
                  <label>Telefone</label>
                  <div class="input__container numeral-input">
                    <input
                      type="phone"
                      name="phone"
                      placeholder="+55"
                      required
                      class="input form-control form-control-danger"
                    /><!---->
                  </div>
                  <!----><!---->
                </div>
                <br>
                <div class="input--with-addon currency-input">
                    <label>E-mail</label>
                    <div class="input__container text-input">
                      <input

                        type="text"
                        name="email"
                        placeholder=""
                        required
                        class="input form-control form-control-danger"
                      /><!---->
                    </div>
                    <!----><!---->
                  </div>
                <br />
                <div class="input--with-addon currency-input">
                    <label>CPF / CNPJ</label>
                    <div class="input__container text-input">
                      <input

                        type="text"
                        name="cpf"
                        placeholder=""
                        required
                        class="input form-control form-control-danger"
                      /><!---->
                    </div>
                    <!----><!---->
                  </div>
                <br />
                <div class="input--with-addon currency-input">
                    <label>Cep</label>
                    <div class="input__container number-input">
                      <input

                        type="text"
                        name="cep"
                        placeholder=""
                        required
                        class="input form-control form-control-danger"
                      /><!---->
                    </div>
                    <!----><!---->
                  </div>
                <br />
                <div class="input--with-addon currency-input">
                    <label>Logradouro</label>
                    <div class="input__container text-input">
                      <input

                        type="text"
                        name="logradouro"
                        placeholder=""
                        required
                        class="input form-control form-control-danger"
                      /><!---->
                    </div>
                    <!----><!---->
                  </div>
                  <br>
                  <div class="input--with-addon currency-input">
                    <label>UF</label>
                    <div class="input__container text-input">
                      <input

                        type="text"
                        name="uf"
                        placeholder=""
                        required
                        class="input form-control form-control-danger"
                      /><!---->
                    </div>
                    <!----><!---->
                  </div>
                <br />
                <div class="input--with-addon currency-input">
                    <label>Cidade</label>
                    <div class="input__container text-input">
                      <input

                        type="text"
                        name="cidade"
                        placeholder=""
                        required
                        class="input form-control form-control-danger"
                      /><!---->
                    </div>
                    <!----><!---->
                  </div>
                <br />
                <div class="input--with-addon currency-input">
                    <label>Número</label>
                    <div class="input__container number-input">
                      <input

                        type="number"
                        name="number"
                        placeholder=""
                        required
                        class="input form-control form-control-danger"
                      /><!---->
                    </div>
                    <!----><!---->
                  </div>
                <br />
                <label>Observações</label>
                <textarea
                  class="form-control"
                  name="obs"
                  required
                ></textarea
                ><br />
                <button class="btn btn-success">Salvar</button>
              </form>
            </div>
          </div>
      </div>

     
      <div id="fade" class="hide">
        <div id="loader" class="spinner-border text-info hide" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div id="message" class="hide">
          <div class="alert alert-light" role="alert">
            <h4>Mensagem:</h4>
            <p></p>
            <button id="close-message" type="button" class="btn btn-secondary">
              Fechar
            </button>
          </div>
        </div>
      </div>
      <div id="order-form-container" class="container p-6 my-md-4 px-md-0">
        <div id="steps" class="mb-md-3 pb-md-3">
          <div class="line"></div>
          <div class="step">
            <i class="bi bi-person active"></i>
            <p class="d-none d-md-block">Criação de conta</p>
          </div>
          <div class="step">
            <i class="bi bi-geo-alt active"></i>
            <p class="d-none d-md-block">Endereço</p>
          </div>
          <div class="step">
            <i class="bi bi-credit-card"></i>
            <p class="d-none d-md-block">Pagamento</p>
          </div>
        </div>
        <div id="form-header">
          <h2>Cadastre o seu endereço</h2>
          <p>Preencha os campos para podermos enviar seus produtos</p>
        </div>
        <form id="address-form">
          <div class="row mb-3">
            <div class="form-floating">
              <input
                type="text"
                class="form-control shadow-none"
                id="cep"
                name="cep"
                placeholder="Digite o seu CEP"
                maxlength="8"
                minlength="8"
                required
              />
              <label for="cep">Digite o seu CEP</label>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12 col-sm-6 mb-3 mb-md-0 form-floating">
              <input
                type="text"
                class="form-control shadow-none"
                id="address"
                name="address"
                placeholder="Rua"
                disabled
                required
                data-input
              />
              <label for="address">Rua</label>
            </div>
            <div class="col-12 col-sm-6 form-floating">
              <input
                type="text"
                class="form-control shadow-none"
                id="number"
                name="number"
                placeholder="Digite o número da residência"
                disabled
                required
                data-input
              />
              <label for="number">Digite o número da residência</label>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12 col-sm-6 mb-3 mb-md-0 form-floating">
              <input
                type="text"
                class="form-control shadow-none"
                id="complement"
                name="complement"
                placeholder="Digite o complemento"
                disabled
                data-input
              />
              <label for="complement">Digite o complemento</label>
            </div>
            <div class="col-12 col-sm-6 form-floating">
              <input
                type="text"
                class="form-control shadow-none"
                id="neighborhood"
                name="neighborhood"
                placeholder="Bairro"
                disabled
                required
                data-input
              />
              <label for="neighborhood">Bairro</label>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12 col-sm-6 mb-3 mb-md-0 form-floating">
              <input
                type="text"
                class="form-control shadow-none"
                id="city"
                name="city"
                placeholder="Cidade"
                disabled
                required
                data-input
              />
              <label for="city">Cidade</label>
            </div>
            <div class="col-12 col-sm-6 mb-3">
              <select
                class="form-select shadow-none"
                id="region"
                disabled
                required
                data-input
              >
                <option selected>Estado</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
              </select>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button id="save-btn" type="submit" class="btn btn-primary">
              Cadastrar
            </button>
          </div>
        </form>
      </div>

      </body>


<%- include ("../../partials/footer.ejs") %>